*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-size: 1.6rem;
    line-height: 1.2;
    font-family: $primaryFont;
    background: $lightpeach;
    color: $darkgreen;
    transition: background-color .6s ease;
    // for the progress-indicator
    position: relative;
}

h2, .h2 {
    font-size: 3.2rem;
    line-height: 1.25;
    font-weight: 100;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: $navbar-height;
    z-index: 100;
    &__logo {
        display: inline-block;
        height: $navbar-height;
        img {
            transition: transform .5s ease-in-out;
        }
        &.scaleDown {
            img {
                transform: scale(.7);
            }
        }
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

section {
    padding: 0 50px;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

// Progress-indicator
.progress-indicator {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background: #15403d;
    z-index: 100
}