@font-face {
    font-family: 'Syne Extra';
    src: url('/assets/fonts/syne-extra.woff') format('woff'),
         url('/assets/fonts/syne-extra.woff2') format('woff2');
}

@font-face {
    font-family: 'Syne Regular';
    src: url('/assets/fonts/syne-regular.woff') format('woff'),
         url('/assets/fonts/syne-regular.woff2') format('woff2');
}
