$primaryFont: 'Syne Regular', sans-serif;
$secondaryFont: 'Syne Extra', sans-serif;

$lightpeach: #f4e6d8;
$darkgreen: #15403d;
$darkorange: #e5745d;
$lightorange: #ffd5b1;
$lightgrey: #eeeeee;

$navbar-height: 136px;